@{
    Layout = "_Layout";
}

@model Cinema.Models.Movie
<h4> Add a new movie</h4>

@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    
    @Html.LabelFor(model => model.MPAARating)
    @Html.TextBoxFor(model => model.MPAARating)

    <select class="publicRating" id="PublicRating" name="PublicRating">
            <option>Select Emoji Reaction</option> 
            <!-- 1 star -->
            <option>&#128514;</option> 
            <!-- 2 star -->
            <option>&#128525;</option> 
            <!-- 3 star-->
            <option>&#128546;</option> 
            <!-- 4 star -->
            <option>&#128561;</option> 
            <!-- 5 star-->
            <option>&#128526;</option> 
    </select>


    @Html.LabelFor(model => model.Runtime)
    @Html.TextBoxFor(model => model.Runtime)

    <select class="emoji" id="Emoji" name="Emoji">
            <option>Select Emoji Reaction</option> 
            <!-- Funny cry -->
            <option>&#127775;</option> 
            <!-- Heart eyes -->
            <option>&#127775; &#127775;</option>  
            <!-- Cry sad -->
            <option>&#127775; &#127775; &#127775;</option>  
            <!-- Horror -->
            <option>&#127775; &#127775; &#127775; &#127775; </option>  
            <!-- Sunglasses -->
            <option>&#127775; &#127775; &#127775; &#127775; &#127775;</option> 
    </select>

    @Html.LabelFor(model => model.Genre)
    @Html.DropDownList("GenreId")


    <input type="submit" value="Add new Movie" class="btn btn-outline-success"/>
}



    <p>@Html.ActionLink("Show all movies", "Index")</p>